body {
    background-color:bisque;
}
/* this is usage of pseudo class */
img:hover {
    background-color: gold;
}
/*
img {
    background-color:brown;
}
*/
/* here we represented class from the index.html , and class is represented by (.class , i.e .straw )*/
.straw {
    background-color: green;
}
.broc {
    background-color: red;
}
/* this is using id*/
#heading {
    color:aqua;
}